<h1>Signup</h1>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |error| %>
    <p class = "text-danger"><%= error %></p>
  <% end %>
<% end %>

<%= form_for(@user, url: signup_path) do |f|%>

<p>
  <%= f.label(:username) %>
  <%= f.text_field(:username, autofocus: true) %>
</p>
<p>
  <%= f.label(:password) %>
  <%= f.password_field(:password) %>
</p>
<p>
  <%= f.submit("Signup", class: "btn btn-primary") %>
</p>
  <%= link_to "Have an account already? Log in here", login_path %>
<% end %>

